# --- Datasets (Too large for GitHub) ---
splitted_dataset/
yolo_dataset

# --- YOLO/Ultralytics Logs ---
runs/

# --- Trained Model Weights & Large Files ---
*.pt
*.keras
*.tflite
*.h5
*.onnx
*.png
saved_model/
yolo_saved_model/